<%- include('partials/header') %> 
 
<div class="example-marquee">
  
  <div id="ytbg-1" data-vbg="https://www.youtube.com/watch?v=GDQnA1LVCWA" data-vbg-poster="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/BigBuckBunny.jpg" data-vbg-play-button="false" data-vbg-mute-button="true"></div>
  <div class="content">
    <!-- <div class="video-background-controls pulse" style="position: absolute; top: 10px; right: 10px; z-index: 2;"></div>   -->
    <div class="container songList"> 
      
        <% song.forEach(e => {%>
          
              <div class="row hoverable valign-wrapper">
                  <div class = 'item col '>
                      <p class ='flow-text'><%=e.name%>, Artist: <%=e.artist%> Album:<%=e.album%>, <%=e.duration%></p>
                  </div>
                  <div class="col s1 right"><img alt='Really Bored Potato :(' class= ' profile-img responsive circle' src="../images/download.jfif"> </div>
                  <div class = 'item col left s1'>
                      <button class='play-toggle' >
                        <i id='<%=(e.name) +' '+ e.artist%>' class="fa fa-play-circle play" aria-hidden="true"></i>
                      </button>
                      <% if(user){%>
                         <a href="/like/<%=e.songId%>" class="play-toggle "><i class="fa-regular fa-thumbs-up"></i></a>
                         <p>
                          <%if(e.votes){%>
                            
                          <%= Object.keys(e.votes).length%>
                          <%}%>
                         </p>
                      <%} %>
                      
                  </div>
                </div>
                
                <%})%>
      </div>
</div>
<br>

</div>
 
<%- include('partials/footer') %> 
